*.cov
*.coverage
*.lcov
coverage.xml
lcov.info
*.DS_Store
.vscode/
.idea/
.ipynb_checkpoints/
.julia_history/
.julia/
deps/build.log
deps/deps.jl
docs/build/
docs/site/
Manifest.toml
CyclopsOptimizationTest.jl
